* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #121212;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.card {
  width: 85%;
  max-width: 500px;
  max-height: 250px;
  aspect-ratio: 2 / 1;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.card p {
  font-size: 1rem;
  color: #bbbbbb;
}

.card a {
  text-decoration: none;
  color: #1e90ff;
  font-size: 1rem;
  margin-top: 10px;
}

.card a:hover {
  text-decoration: underline;
}

.social-media {
  margin-top: 5px;
  display: flex;
  gap: 15px;
}

.social-media a {
  color: #bbbbbb;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-media a:hover {
  opacity: 0.75;
}